<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="GeneralLedgerSystem.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <userSettings>
    <GeneralLedgerSystem.My.MySettings>
      <setting name="mServer" serializeAs="String">
        <value />
      </setting>
      <setting name="mUserDB" serializeAs="String">
        <value />
      </setting>
      <setting name="mPassDB" serializeAs="String">
        <value />
      </setting>
      <setting name="mDBname" serializeAs="String">
        <value />
      </setting>
    </GeneralLedgerSystem.My.MySettings>
  </userSettings>
</configuration>
